/* html, body, .map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} */
body{
    font-size: 12px;
    font-weight: normal;
}
.map{
    width: 600px;
    height: 400px;
}
.ballon_adress{
    background-color: orange;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
}
.ballon_reviews{
    height: 100px;
    margin-top: 5px;
}
.ballon_title{
    color:orange;
    margin-bottom: 5px;
}
.ballon_form{
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
.ballon_form-name{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.ballon_form-adress{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.ballon_form-review{
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.balloon_add{
    background-color: orange;
    padding: 3px 5px;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
    outline: none;
    border-style: none;
    color: #fff;
}
